.pizzas {
  max-width: 800px;
  margin: 0 auto;
}

.pizzas h2 {
  font-size: 2em;
  text-align: center;
}

.pizzas ul {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 0;
  list-style: none;  
}

.pizzas li {
  background-color: #f4c17b; 
  padding: 10px;
  border-radius: 4px;
  text-align: center;  
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);  
}

.pizzas li strong {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}

body {
  background-color: #fff0e4; 
}









.restaurants {
background-color: #fff0e4;
padding: 20px;
border-radius: 10px;
max-width: 800px;
margin: 0 auto; 
}

.restaurants h2 {
text-align: center;
font-size: 2em;
margin-bottom: 30px; 
}

.restaurants ul {
list-style: none;
padding: 0;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 30px;  
}  

.restaurants li {
background-color: #f4c17b;
padding: 20px;
border-radius: 10px;
text-align: center; 
box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}

.restaurants li strong {
color: #884228;
display: block;
margin-bottom: 10px;
}

.restaurants button {
background-color: #884228;
color: white;
border: none;
border-radius: 5px;
padding: 8px 15px;
cursor: pointer;  
}